body{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    font-family: 'Mortal Kombat Mythologies', sans-serif;
}

.character-container{
    border-color: white;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.character-container h1{
    color: white;
}


.character-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    flex-wrap: wrap;
    margin-top: 100px;
}

.character-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.character-boxes p{
    font-size: 0px;
    color: white;
    position: absolute;
    transition: 1s;
    padding: 10px;
    transition-delay: 800ms;
    transition: font-size 500ms, 400ms;
    transform: translateY(100px);
    pointer-events: none;
    text-transform: uppercase;
    opacity: 0;
}

.character-boxes img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 70%;
    width: 75px;
    height: 300px;
    object-fit: cover;
    transition: filter 400ms, 300ms, opacity 300ms;
    box-shadow: none;
}
.character-selector:hover img{
    filter: grayscale(100%);
}

.character-selector :nth-child(odd) {
    transform: translateY(-35px);
}

.character-boxes img:hover + p {
    display: block;
    font-size: 14px;
    color: white;
    opacity: 1;
    background: rgba(0, 0, 0);
    transform: translateY(60px);
}


.character-selector .character-boxes:hover img{
    filter: grayscale(0%);
    width: 230px;
    height: 300px;
    opacity: 1;
    object-fit: cover;
}
